@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: playfair;
  src: url(../fonts/playfair.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto_mono.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: playfair, sans-serif;
}
